<html>
<head>
<script language="JavaScript">

</script>
</head>
<body>

<h1>Signs</h1>

[% IF ( enabled == 0 )  %]
  <p>Digital signs are not enabled!</p>
[% ELSE %]

  [% IF ( deck )  %]

    <h2>[% deck.name %]</h2>

    [% IF ( signs )  %]
      [% FOREACH s IN signs %]
        <p>[% s.name %]</p>
      [% END %]
    [% ELSE %]
      <p>No signs attached to this deck.</p>
    [% END %]

  [% ELSE %]
    <p>Oops!</p>
  [% END %]

[% END %]

</body>
</html>
