<html>
<head>
<title>[% IF ( deck )  %][% deck.name %] - Koha[% ELSE %]Koha digital signs[% END %]</title>
<meta name="generator" content="Koha [% Version %]" /> <!-- leave this for stats -->
<link rel="shortcut icon" href="[% IF ( OpacFavicon ) %][% OpacFavicon %][% ELSE %][% themelang %]/includes/favicon.ico[% END %]" type="image/x-icon" />
<script type="text/javascript" src="[% themelang %]/lib/jquery/jquery.js"></script>
</head>
<body>

<h1>Signs</h1>

[% IF ( enabled == 0 )  %]
  <p>Digital signs are not enabled!</p>
[% ELSE %]

  [% IF ( deck )  %]

    <h2>[% deck.name %]</h2>

    [% IF ( signs.0 )  %]
      [% FOREACH s IN signs %]
        <p>[% s.name %]</p>
      [% END %]
    [% ELSE %]
      <p>No signs attached to this deck.</p>
    [% END %]

  [% ELSE %]
    <p>Oops!</p>
  [% END %]

[% END %]

</body>
</html>
